html {
  scroll-behavior: smooth;
}
body {
  background: whitesmoke;
}
.block {
  transition: all 0.2s ease-in;
  border-radius: 10px;
}
.block:hover {
  transition: all 0.2s ease-out;
  scale: 1.005;
}
.block:hover .icon-style:active {
  color: #C13540;
}
.block:hover .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.88);
}
.block:hover {
  border: 1px solid #363092;
}
.me:hover::after {
  content: '😶‍🌫️ Serhii Raskolei';
  position: absolute;
  background-color: #363092;
  color: white;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
  width: 150px;
  margin-left: -120px;
  margin-top: -130px;
  opacity: 0.7;
}
.ant-card-head {
  background: white !important;
}
.statistic-style, .center-text  {
  text-align: center;
}
.ant-statistic-content-value span {
  color: #363092;
  font-size: 2em;
}
.span-style {
  padding: 5px 5px 5px 5px;
  background-color: #363092;
  color: white;
  font-weight: 600;
  text-align: center;
}
.sider-container {
  overflow: auto;
  height: 100hv;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgb(217 217 217);
  position: fixed;
}
.content-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
/* .image-container  */
.circle-stye {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363092;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.rocket {
  animation: rocket-flying;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition: all 0.2s ease-in-out;
}
@keyframes rocket-flying {
  0% {
    transform: translate(1px, 1px);
    scale: 1.1;
  }
  25% {
    transform: translate(-2px, -1px);
  }
  50% {
    transform: translate(2px, 4px);
  }
  75% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(2px, -1px);
    scale: 1.2;
  }
}